# ==========================
# Java / Maven
# ==========================
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven
.mvn/timing.properties

# Logs
*.log
logs/

# Arquivos temporários
*.tmp
*.temp

# ==========================
# IDEs
# ==========================

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# ==========================
# Spring Boot
# ==========================

application-local.properties
application-dev.properties
application-prod.properties
src/main/resources/application.properties

# Arquivos de configuração locais
.env
.env.*

# ==========================
# PostgreSQL / Banco
# ==========================

*.backup
*.sql.bak

# Dados locais do Docker
postgres-data/
pgadmin-data/

# ==========================
# Docker
# ==========================

docker-volumes/
docker-data/

# ==========================
# Frontend
# ==========================
# Cache
.cache/
.parcel-cache/

# Build Frontend
dist/
build/


# ==========================
# Flyway
# ==========================

flyway.conf

# ==========================
# Swagger/OpenAPI
# ==========================

openapi.json
openapi.yaml